* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F1F6F9;
}

h1 {
    color: #917FB3;
    background-color: #E5BEEC;
    text-align: center;
    margin: 50px;
    padding: 10px;
    border-radius: 10px 100px 10px 100px;
    width: 25%;
    margin-left: 34%;
    font-family: 'Times New Roman', Times, serif;
}

.ads {
    color: #FF6969;
    background-color: #FFD3B0;
    text-align: center;
}

#cps {
    background-color: #F7E1AE;
    color: #617A55;
    font-size: 29px;
    width: 18%;
    border-radius: 10px 10px 100px 10px;
}